---
---

$body-link-color: #ffffff;
.main-content{
      font-family:Verdana, sans-serif;
      ul {
            text-align: center;
            list-style-position: inside; 
      }
      /* Create two equal columns that floats next to each other */
      .column {
            float: left;
            width: 50%;
            padding: 10px;
      }

      /* Clear floats after the columns */
      .row:after {
            content: "";
            display: table;
            clear: both;
      }
     
     .textWrap{
            float:right;
            margin: 10px
      }
      #rcorners1 {
            border-radius: 25px;
            }
      
      .collapsible {
            background-color: #e5ffec;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align:justify;
            border:none; 
            outline: none;
      }
      
      .active, .collapsible:hover {
            background-color: #ccffda;
            border:3px; 
            border-style:solid;
            border-color:#d9d9d9;
      }

      
}

@import"{{site.theme}}"

    
