---
---

$body-link-color: #ffffff;
.main-content{
      font-family:Verdana, sans-serif;
      ul {
    text-align: center;
    list-style-position: inside; 
      }
      /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
      
}

@import"{{site.theme}}"

    
