---
---

$body-link-color: #ffffff;
.main-content{
      font-family:Verdana, sans-serif;
      ul {
            text-align: center;
            list-style-position: inside; 
      }
      /* Create two equal columns that floats next to each other */
      .column {
            float: left;
            width: 50%;
            padding: 10px;
      }

      /* Clear floats after the columns */
      .row:after {
            content: "";
            display: table;
            clear: both;
      }
     
     .textWrap{
            float:right;
            margin: 10px
      }
      #rcorners1 {
            border-radius: 25px;
            }
      #bg{
            background:
            linear-gradient(135deg, #ccf5ff 21px, #ccf5ff 22px, #ccf5ff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #ccf5ff 69px, transparent 69px),
            linear-gradient(225deg, #ccf5ff 21px, #ccf5ff 22px, #ccf5ff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #ccf5ff 69px, transparent 69px)0 64px;
            background-color:#00000;
            background-size: 64px 128px;
           }
      
}

@import"{{site.theme}}"

    
