---
---

$body-link-color: #ffffff;
.main-content{
      font-family:Verdana, sans-serif;
      ul {
            text-align: center;
            list-style-position: inside; 
            background-size: 100%;
      }
      /* Create two equal columns that floats next to each other */
      .column {
            float: left;
            width: 50%;
            padding: 10px;
      }

      /* Clear floats after the columns */
      .row:after {
            content: "";
            display: table;
            clear: both;
      }
     
     .textWrap{
            float:right;
            margin: 10px
      }
      
     .textWrap2{
            float:left;
            margin: 10px
      }
      #rcorners1 {
            border-radius: 25px;
            }
      
      .collapsible {
            background-color: #f4fff0;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align:justify;
            border:3px; 
            border-style:solid;
            border-color:#d9d9d9;
            border-radius: 10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
            /*box-shadow: 2px 2px 0.5px grey;*/
            outline: none;
            
      }
      
      .active, .collapsible:hover {
            background-color: #e5ffec; 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            /*box-shadow: 5px 5px 2px grey;*/
      }
      
      .collapsible:after {
            content: '\002B';
            color: #737373;
            font-weight: bold;
            float: right;
            margin-left: 5px;
      }
      
      .active:after {
            content: "\2212";
       } 
      
      .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #ffffff;
      }   
      
      /* Style the tab */
      .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
      }

      /* Style the buttons inside the tab */
      .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
            background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
            background-color: #ccc;
      }

      /* Style the tab content */
      .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
      }
      
      .page-header {
            padding: 2rem 1rem;
      }
}

@import"{{site.theme}}"

    
